*/obj/*
*/bin/*
*/.vs/*
/.vs
*.mdf
*.ldf
**/PublishProfiles/**
Sheaft.Api/appsettings.Development.json
Sheaft.Signalr/appsettings.Development.json
Sheaft.Functions/appsettings.Development.json
Sheaft.Manage/appsettings.Development.json