*/obj/*
*/bin/*
*/.vs/*
/.vs
*.mdf
*.ldf
**/PublishProfiles/**
Sheaft.Web.Api/appsettings.Development.json
Sheaft.Web.Signalr/appsettings.Development.json
Sheaft.Web.Functions/appsettings.Development.json
Sheaft.Web.Manage/appsettings.Development.json
Sheaft.Web.Payment/appsettings.Development.json
