*/obj/*
*/bin/*
*/.vs/*
/.vs
*.mdf
*.ldf
**/PublishProfiles/**
Sheaft.Web.Api/appsettings.Development.json
Sheaft.Web.Portal/appsettings.Development.json
.history
.idea/*
*.sln.*.user
Sheaft.Web.Portal/.routify/config.js
Sheaft.Web.Portal/.routify/routes.js
Sheaft.Web.Portal/.routify/urlIndex.json
