@model CompanyDto
@{
    ViewData["Title"] = "Company details";
}

    <div class="container">
        <h1 class="display-4">Company details</h1>
        <br />

        @using (Html.BeginForm("Edit", "Companies", FormMethod.Post, new { @class = "form" }))
        {
            @Html.AntiForgeryToken()
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            @Html.HiddenFor(model => model.Id)
            <br />

            <br />
            <a asp-controller="Companies" asp-action="Index" class="btn btn-light">
                Cancel
            </a>
            <button type="submit" class="btn btn-success">
                <i class="fa fa-check"></i>
            </button>
        }

    </div>
