.menu-group .menu-entry {
  margin: 0 1em;
  padding-left: 2em; 
}

.menu-group {
  > div.active{
    @apply text-primary-600 bg-primary-100
  }

  > div.subactive{
    @apply bg-primary-100
  }
  
  .menu-entry.active {
    @apply text-primary-600 font-semibold
  }
  
  .menu-entry::before {
    @apply bg-primary-600;
    content: '';
    display: inline-block;
    border-radius: 50px;
    margin-right: 10px;
    height: 8px;
    width: 8px;
    visibility: hidden;
  }

  .menu-entry.active::before {
    visibility: visible;
  }
    
  @apply text-gray-600
}

.menu-entry:not(.has-parent) {
  @apply text-gray-600 font-medium
}

.menu-entry.active:not(.has-parent) {
  @apply text-primary-600 bg-primary-100 font-semibold
}

.menu-icon {
  min-width: 2em;
}
